:root {
    --fs-300: 1rem;
    --fs-400: 1.125rem;
    --fs-500: 1.37rem;

    --fw-light: 300;
    --fw-regular: 400;
    --fw-bold: 600;

    --clr-primary-300: hsl(215, 51%, 70%);
    --clr-primary-500: hsl(178, 100%, 50%);
    --clr-primary-hsl-500: 178, 100%, 50%;

    --clr-neutral-950: hsl(217, 54%, 10%);
    --clr-neutral-900: hsl(217, 54%, 11%);
    --clr-neutral-800: hsl(216, 50%, 16%);
    --clr-neutral-700: hsl(215, 32%, 27%);
    --clr-neutral-100: hsl(0, 0%, 100%);
}

/* resets */

*,
*::after,
*::before {
    box-sizing: border-box;
}

* {
    margin: 0;
}

a {
    text-decoration: none;
}

img,
svg {
    display: block;
    max-width: 100%;
}

/* utility classes */

.flex-group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
}

.grid-group {
    display: grid;
    gap: 1rem;
}

[data-spacing="small"] {
    gap: .5rem;
}

/* component */

body {
    background-color: var(--clr-neutral-900);
    color: var(--clr-primary-300);
    display: grid;
    place-content: center;
    min-height: 100vh;
    line-height: 1.7;
    font-family: 'Outfit', sans-serif;
    font-size: var(--fs-400);
    font-weight: var(--fw-light);
}

.card {
    background-color: var(--clr-neutral-800);
    border-radius: 1rem;
    gap: 1.9rem;
    padding: 1.5rem;
    margin-inline: 1.5rem;
    max-width: 350px;
    position: relative;
    isolation: isolate;
}

.card::before {
    content: '';
    position: absolute;
    inset: 0;
    box-shadow: 0 1.8rem 0 1rem var(--clr-neutral-950);
    border-radius: 2rem;
    z-index: -1;
}

@media (min-width: 600px) {
    .card {
        padding: 1.5rem 1.5rem 1.7rem;
    }
}

.card__header {
    border-radius: 0.5rem;
    position: relative;
    overflow: hidden;
    isolation: isolate;
}

.card__title {
    color: var(--clr-neutral-100);
    font-size: var(--fs-500);
    font-weight: var(--fw-bold);
    line-height: 1;
}

@media (min-width: 600px) {
    .card__info {
        padding-bottom: 0.2rem;
    }
}

.card__info {
    font-size: var(--fs-300);
    font-weight: var(--fw-regular);
    justify-content: space-between;
}

.card__separator {
    border: none;
    border-bottom: 1px solid var(--clr-neutral-700);
}

.card__price {
    color: var(--clr-primary-500);
    font-weight: var(--fw-bold);
}

.card__price::before {
    content: '';
    width: 11px;
    height: 18px;
    background-image: url(images/icon-ethereum.svg);
    background-repeat: no-repeat;
}

.card__time-left::before {
    content: '';
    width: 17px;
    height: 17px;
    background-image: url(images/icon-clock.svg);
    background-repeat: no-repeat;
}

.card__footer {
    font-size: var(--fs-300);
}

.card__avatar {
    border: 1px solid var(--clr-neutral-100);
    border-radius: 100vw;
    max-width: 2rem;
}

.card__footer-text {
    font-weight: var(--fw-regular);
}

.card__author {
    color: var(--clr-neutral-100);
    font-weight: var(--fw-light);
}

/* active states */

.card__link--hover:hover {
    cursor: pointer;
    color: var(--clr-primary-500);
}

.card__header:hover::after {
    content: '';
    background-color: hsla(var(--clr-primary-hsl-500), .5);
    background-image: url(images/icon-view.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    inset: 0;
}
